

html {
  transition: background-color 1s;
}
#root{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  padding: 0 300px;
  width: auto;
}

.quotebox {
  text-align: left;
  width:100%;
}

#quote {
  margin: 20px;
  text-align: left;
}


#author {
  margin: 10px 20px;
  font-style: italic;
  text-align: left;
}

#newquote {
  margin: 20px;
  position: relative;
  height: 35px;
  width: 100px;
  color: white;
}


.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #root{
    align-items: center;
    justify-content: center;
    height:100vh;
    padding: 0 0px;
    width: auto;
    margin:40px 10px;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #root{
    height:100vh;
    padding: 0 100px;
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #root{
    height:100vh;
    padding: 0 300px;
    width: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}