body {
  margin: 0;
}

html {
  transition: background-color 1s;
}
#root{
  text-align: left;
  margin: 0px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.quotebox {
  border: 1px rgb(145, 126, 126) solid;
  border-radius: 10px;
  text-align: left;
  width:100%;
}

#quote {
  margin: 20px;
  text-align: left;
}


#author {
  margin: 20px;
  font-style: italic;
  text-align: left;
}

#newquote {
  margin: 20px;
  position: relative;
  height: 35px;
  width: 100px;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
  color: white;
}


.fadeIn {
  opacity: 0;
  display: block;
  animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}